@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy.ttf");
}

@font-face {
    font-family: Gilroy_bold;
    src: url("/assets/fonts/gilroy_bold.ttf");
}

h1 {
    font-size: 34px;
    font-family: 'Gilroy_bold';
}

html {
    font-family: 'Gilroy';
    font-size: 18px;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    background: #ffffff;
    font-family: 'Gilroy_bold';
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    width: 940px;
}

nav a {
    text-decoration: none;
    color: #828282;
}

nav a:hover {
    color: #000000;
}

hr {
    color: #828282;
    background-color: #828282;
    margin: 0 0 0 0;
    width: 940px;

}

.mainpic {
    width: 940px;
    height: 387px;
    background-image: url(/assets/pics/me.png);
}

.hi {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 940px;
    margin: auto;
}

.hi h1 {
    font-size: 47.34px;
}

.lang {
    z-index: -1;
    margin: 0 0 0 0;
    font-size: 16px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: #828282;
}

.lang .active {
    color: #000000;
}

.me {
    display: flex;
    margin-top: 104px;
    background: #f6f6f6;
    height: 506px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 91px;
}

.apps {
    display: flex;
    flex-direction: row;
}

.apps div {
    width: 166px;
    height: 206px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 83px;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #f6f6f6;
    margin-top: 110px;
    padding-top: 112px;

}

.portfolio p {
    padding-top: 44px;
    padding-bottom: 100px;
    color: #000000;
}

.portfolio a {
    color: #000000;
}

.portfolio img {
    transition: transform .3s;
}

.portfolio img:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 114px;
}

.mail {
    font-size: 18px;
    font-family: Gilroy_bold;
    width: 180px;
    border-width: 1px;
    color: #ffffff;
    border-color: #000000;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    background: #000000;
    text-decoration: none;
    padding: 12px 0 12px 0;
    margin-bottom: 85px;
}

footer i {
    font-size: 40px;
    padding: 0 30px 0 30px;
}

.follow {
    color: #828282;
    padding: 45px 0 125px 0;
}

.fa-linkedin:hover {
    color: #0961b8;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-behance-square:hover {
    color: #0053f2;
}

.fa-dribbble:hover {
    color: #b8205b;
}

.fa-star{
    animation: stars 1s infinite alternate linear;
}

header input[type="checkbox"] {
    display: none;
}

header input[type="checkbox"]:checked~nav {
    display: block;
    animation: menuShow 0.5s normal;
}

header label {
    float: right;
    display: none;
    font-size: 36px;
    cursor: pointer;
    color: #000000;
    padding-right: 30px;
    padding-top: 10px;
}

@media (min-width: 375px) and (max-width: 600px)  {
    .mainpic {
        width: 90%;
        height: 478px;
        background-image: url(/assets/pics/memob.png);
        align-self: center;
        background-repeat: no-repeat;

    }

    .hi {
        flex-direction: column;
        align-items: flex-start;
    }

    .lang,
    hr {
        display: none;
    }

    .apps {
        flex-direction: column;
    }

    .portfolio img,
    .mail,
    .hi {
        width: 90%;
    }

    footer i {
        padding: 0 20px 0 20px;
    }

    header {
        align-items: flex-end;
        height: 46px;
        width: 100%;
    }

    header label {
        display: block;

    }

    header nav {
        position: absolute;
        display: none;
        top: 50px;
        width: 50%;
        font-size: 32px;
        height: fit-content;
        background-color: #ffffffb0;
    }

    nav a {
        flex-direction: column;
        color: #313131;
    }

    .hi {
        padding-top: 10px;
    }
}

@keyframes menuShow {
    0% {
        right: -200px;
    }

    100% {
        right: 0;
    }
}

@keyframes stars {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}