@font-face {
    font-family: Gilroy;
    src: url("/assets/fonts/gilroy.ttf");
}

@font-face {
    font-family: Gilroy_bold;
    src: url("/assets/fonts/gilroy_bold.ttf");
}

h1 {
    font-size: 34px;
    font-family: 'Gilroy_bold';
}

html {
    font-family: 'Gilroy';
    font-size: 18px;
}

header {
    position: fixed;
    background: #ffffff;
    font-family: 'Gilroy_bold';
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    width: 940px;
}

nav a {
    text-decoration: none;
    color: #828282;
}

nav a:hover {
    color: #000000;
}

hr {
    color: #828282;
    background-color: #828282;
    margin: 0 0 0 0;
    width: 940px;

}

.hi {
    padding-top: 88px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 940px;
    margin: auto;
}

.hi h1 {
    font-size: 47.34px;
}

.lang {
    z-index: -1;
    margin: 0 0 0 0;
    font-size: 16px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: #828282;
}

.lang .active {
    color: #000000;
}

.me {
    display: flex;
    margin-top: 104px;
    background: #f6f6f6;
    height: 506px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 91px;
}

.apps {
    display: flex;
    flex-direction: row;
}

.apps div {
    width: 166px;
    height: 206px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 83px;
}